.mainContent-contactUs {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 50px 50px;
}

.card {
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.info-item {
  color: #28a745;
  text-align: left;
  font-size: 1.3rem;
}

.data-value {
  text-align: left;
}

.text-contactUs {
  margin: 50px 50px 0px 30px;
}

@media (max-width: 768px) {
  .mainContent-contactUs {
    margin: 40px 10px;
  }
  .card {
    border-radius: 5px;
  }

  .row {
    row-gap: 30px;
  }

  .text-contactUs {
    display: block;
    margin: 40px 15px;
  }
  .info-item {
    margin-left: 5px;
    font-size: 1.2rem;
  }

  .data-value {
    margin-left: 5px;
  }
}
