.banner-container {
  margin-top: 2rem;
}

.banner-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.banner-profile {
  max-width: 100px;
  border-radius: 50%;
  object-fit: cover;
  transform: translate(10px, -50%);
}

.details-container {
  margin-top: 2rem;
  padding: 0 1rem 2rem 1rem;
  border-bottom: 1px solid gray;
}

.single-detail i {
  margin-top: 0.2rem;
  color: rgba(15, 169, 88, 1);
}

.custom-dash-card-container {
  box-shadow: 2px 2px 16.3px 0px rgba(0, 0, 0, 0.25);
}

.custom-dash-card {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1.4rem;
}

.custom-dash-card i {
  font-size: 1.4rem;
  color: rgba(15, 169, 88, 1);
}

.custom-dash-card p {
  color: rgba(0, 0, 0, 0.58);
}

.custom-dash-text .number {
  font-size: 1.6rem;
  font-weight: 700;
  color: black;
}

.nominee-card {
  padding: 2rem;
  width: 100%;
}

.nominee-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  gap: 1rem;
}

.nominee-text i {
  color: rgba(15, 169, 88, 1);
}

.dashboard-forgot-password {
  color: rgba(0, 0, 0, 0.39);
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.39);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .custom-dash-card-container {
    width: fit-content;
  }

  .custom-dash-card p {
    color: rgba(0, 0, 0, 0.58);
    font-size: 0.8rem;
  }

  .nominee-card {
    width: fit-content;
    padding: 2rem 3rem 2rem 2rem;
  }

  .nominee-card-container {
    width: fit-content;
  }
}
@media (min-width: 1200px) {
  .banner-profile {
    max-width: 150px;
  }

  .custom-dash-card {
    min-width: 250px;
  }

  .custom-dash-card p {
    color: rgba(0, 0, 0, 0.58);
    font-size: 1rem;
  }
}
@media (min-width: 1400px) {
  .custom-dash-card {
    min-width: 280px;
  }
}
