.mainContent-forgotPassword{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin: 50px 30px;
}

.forgot-password-card {
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 400px;
    background-color: #fff;
    padding: 50px 50px;
    margin-top: 70px;
}

.check-icon {
    font-size: 3rem;
}

#email {
    border-radius: 4px;
}

.btn-secondary {
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
}

.btn-secondary:hover {
    background-color: #f1f1f1;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #218838;
}

@media (max-width: 768px) {
    
    .mainContent-forgotPassword {
        margin:30px 0px;
    }
    .forgot-password-card {
        padding: 30px 20px;
        min-width: 90%;
        width: 100%;
        margin-top: 50px;
        border-radius: 5px;
    }
    .fp-text {
        font-size: 1.2rem;
        margin: 10px;
    }

    .fp-content{
         font-size: 0.9rem;
         margin: 0px 10px;
    }
    .form-label {
        font-size: 0.9rem;
    }

    #email {
        font-size: 1rem;
    }
    .btn {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
    .modal-content {
        padding: 20px;
    }
}


