.mainContent-investmentPlan {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 50px 50px 100px 50px;
  font-size: 1.3rem;
}

.text-investmentPlan {
  margin: 50px 50px 0px 30px;
}
.investment-card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px 30px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.plan-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.text-muted {
  color: #6c757d !important;
}
.tags {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.tag {
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 15px;
  text-align: center;
}

.tag-blue {
  background-color: #d0e4ff;
  color: #3467c3;
}

.tag-green {
  background-color: #e7f4d7;
  color: #87b547;
}

.amount {
  margin-top: 15px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
}

.subtext {
  margin-top: -10px;
  font-size: 14px;
  color: #666;
}

.interest-box {
  border: 1px solid #ddd;
  padding: 10px 10px 0px 10px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 120px;
}

.interest-rate {
  font-size: 1.1rem;
  font-weight: bold;
}

.return-amount {
  font-size: 1.1rem;
  font-weight: bold;
}

.btn-custom {
  border: 1px solid #87b547;
  border-radius: 20px;
  color: #87b547;
  text-decoration: none;
  font-size: 14px;
  padding: 8px 16px;
  display: inline-block;
  text-align: center;
}

@media (max-width: 1200px) {
  .mainContent-investmentPlan {
    margin: 20px 0px;
    font-size: 1rem;
  }

  .text-investmentPlan {
    margin: 40px 20px;
  }

  .investment-card {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    border-radius: 10px;
    margin-top: 30px;
  }

  .plan-title {
    font-size: 18px;
    text-align: left;
  }

  .tags {
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 8px;
  }

  .text-center {
    margin-bottom: 10px;
  }

  .tag {
    font-size: 10px;
    padding: 4px 8px;
  }

  .amount {
    font-size: 1rem;
    margin-top: 10px;
    text-align: left;
  }

  .subtext {
    font-size: 12px;
    text-align: left;
    margin-bottom: -1px;
  }

  .interest-box {
    align-items: flex-start;
    padding: 15px;
    gap: 85px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
  }

  .interest-rate {
    font-size: 18px;
  }

  .return-amount {
    font-size: 16px;
  }

  .btn-custom {
    font-size: 12px;
    padding: 6px 12px;
    margin-top: 10px;
  }
}
