.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: #fff;
}

.header-notification {
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.open-sidebar {
  font-size: 1.4rem;
  color: black;
  cursor: pointer;
}

.header-profile {
  border-left: 1px solid rgba(194, 194, 194, 1);
  padding-left: 1.5rem;
}

.header-profile img {
  width: 100%;
  max-width: 40px;
}

.header-name p {
  font-size: 0.8rem;
}

@media (min-width: 992px) {
  .header-container {
    background-color: transparent;
  }
  .main-container {
    margin-left: 250px;
  }
  .header-notification {
    margin-right: 1rem;
  }
  .header-profile {
    padding-left: 2rem;
  }
  .header-profile img {
    max-width: 50px;
  }
}

