.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: #fff;
}

.open-sidebar {
  font-size: 1.4rem;
  color: black;
  cursor: pointer;
}

.header-profile img {
  width: 100%;
  max-width: 40px;
}

.header-name p {
  font-size: 0.8rem;
}

@media (min-width: 992px) {
  .header-container {
    background-color: transparent;
  }
  .main-container {
    margin-left: 250px;
  }
  .header-profile img {
    max-width: 60px;
  }
}

