.form_wrapper {
  margin-top: calc(40px + 122px);
}

.form_section {
  padding-top: 50px;
}

.submit_button {
  width: 100px;
}

.submit_button:hover {
  background-color: black;
  color: #ffdc00;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.invest {
  padding: 50px 20px;
  background-color: black !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.invest img {
  max-width: 280px;
  margin-bottom: 1rem;
}

.login-input-container {
  padding: 0px 20px 50px 20px;
}

@media (min-width: 768px) {
  .login-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  .invest {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .form_wrapper {
    margin-top: calc(40px + 90px);
  }

  .image_container img {
    max-width: 500px;
  }

  .submit_button {
    width: 130px;
  }
  
  .invest img {
    background-color: black !important;
    max-width: 380px;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1200px) {
  .image_container img {
    max-width: 600px;
  }

  .form-group label {
    font-size: 18px;
  }

  .form-control {
    border: 3px solid green;
  }

  .form-control {
    font-size: 18px;
    padding: 10px 18px;
  }

  .submit_button {
    font-size: 18px;
    width: 150px;
    padding: 8px 0px;
  }
}

@media (min-width: 1400px) {
  .form_wrapper {
    margin-top: calc(40px + 108px);
  }
}

.f-27 {
  font-size: 26px;
}

body {
  background-color: black;
}
